{% extends "base.html" %}
{% block content %}

<h2>➕ Patient nimmt Medikament</h2>

<form method="POST">

  <div class="form-group">
    <label>Patient</label>
    <select name="patientennummer" class="form-control" required>
      {% for p in patients %}
        <option value="{{ p.patientennummer }}">
          {{ p.name }} ({{ p.patientennummer }})
        </option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label>Medikament</label>
    <select name="fachname" class="form-control" required>
      {% for m in medikamente %}
        <option value="{{ m.fachname }}">
          {{ m.fachname }}
        </option>
      {% endfor %}
    </select>
  </div>

  <button class="btn btn-primary" type="submit">
    Speichern
  </button>

</form>

{% endblock %}
